* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: #f2f2f7;
    min-height: 150vh;
}

ul {
    list-style-type: none;
}

.fa:hover {
    cursor: pointer;
}

/*************************** navbar ***************************/
.navbar {
    background: #fff;
    color: #444444;
    height: 60px;
    min-height: auto;
}

.navbar img {
    max-height: 135%;
    height: 135%;
}

.navbar img:hover {
    cursor: pointer;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar .search {
    width: 50%;
    height: 62%;
    position: relative;
    align-self: center;
    display: flex;
    padding: 0 25px 0 12px;
}

.navbar .search .search-term {
    width: 100%;
    height: 100%;
    border: 1px solid #0082e6;
    border-right: none;
    border-radius: 19px 0 0 19px;
    padding: 5px 15px;
    outline: none;
    color: #444444;
    font-size: 16px;
}

.navbar .search .search-button {
    width: 40px;
    height: 100%;
    border: 1px solid #0082e6;
    border-left: none;
    background: #fff;
    text-align: center;
    color: #0082e6;
    border-radius: 0 19px 19px 0;
    cursor: pointer;
    font-size: 75%;
    padding-right: 12px;
}

.navbar .fa-search {
    -webkit-text-stroke: 2px white; /* make the search icon thinner */
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-right: 40px;
}

.navbar a {
    color: #444444;
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
}

.navbar a:hover {
    cursor: pointer;
}

.navbar .fa-user, .navbar .fa-heart, .navbar .fa-shopping-cart {
    color: #0082e6;
    font-size: 125%;
    padding-right: 3px;
}

.navbar .fa-user:hover, .navbar .fa-heart:hover, .navbar .fa-shopping-cart:hover {
    cursor: pointer;
}

/*************************** navbar end ***************************/


/*************************** container ***************************/
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 8%;
}

/*************************** container end ***************************/

/*************************** aux ***************************/
.aux {
    background: linear-gradient(to right, #ff1d25 5%, #a0328c 35%, #7040a4 45%, #4359c7 55%, #0082e6 70%);
    height: 5px;
}

/*************************** aux end ***************************/

/*************************** header ***************************/
.header {
    background: linear-gradient(to right, #ff1d25 5%, #a0328c 35%, #7040a4 45%, #4359c7 55%, #0082e6 70%);
    height: 40px;
}

.header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.header a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-weight: normal;
}

.header ul {
    display: flex;
}

.header ul li {
    margin: 5px 0 5px 4px;
    padding: 4px 10px;
}

.header .fa-headphones {
    color: #fff;
}

.header .container .nav .products a, .header .nav .products a i {
    color: #222222;
    font-size: 14px;
    font-weight: bolder;
}

.header .container .nav .products {
    background-color: #fff;
    padding: 0;
    border-radius: 5px 5px 0 0;
}

/*************************** header end ***************************/


/*************************** main  ***************************/
.main {
    height: 450px;
}

.main .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.main .container .dropdown {
    height: 100%;
    width: 22%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.main .container .dropdown .dropdown-item {
    width: 100%;
    color: #222222;
    font-size: 14px;
    flex: 1;
    padding: 5px 15px 3px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
}

.main .container .dropdown .dropdown-item .icon {
    width: 10%;
    height: 100%;
}

.main .container .dropdown .dropdown-item .text {
    width: 90%;
    height: 100%;
    padding-left: 5px;
}

.main .container .dropdown .dropdown-item .text:hover {
    cursor: pointer;
}

.main .container .big-picture {
    height: 100%;
    width: 78%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.main .container .big-picture img {
    width: 100%;
    height: 100%;
}

.main .fa {
    font-size: 125%;
    padding-right: 5px;
}

/*************************** main end ***************************/


/*************************** boxes ***************************/
.boxes {
    padding-top: 30px;
}

.boxes .container .box:hover {
    cursor: pointer;
}

.boxes .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes .container .box {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
    background: #fff;
    color: #222222;
    font-size: 14px;
    padding: 15px 20px;
    font-weight: bolder;
}

.boxes .container .box .image {
    padding-right: 12px;
}

.boxes .container .box .image img {
    height: 61px;
    width: 63px;
}

/*************************** boxes end ***************************/

/*************************** boxes ***************************/
.footer {
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 97px;
    bottom: 0;
    position: fixed;
    font-size: 14px;
}

.footer .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.footer .container .footer-left {
    width: 74%;
    color: #fff;
    margin: 10px 10px;
}

.footer .container .footer-right {
    width: 25%;
    padding-left: 36px;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-items: center;
    align-items: center;
    margin-bottom: 10px;
}

.footer .container .footer-right .accept {
    width: 110%;
    height: 36px;
    border-radius: 3px;
    background-color: #005eb8;
    border: 1px solid #003f7b;
    font-weight: normal;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .container .footer-right .accept:hover {
    cursor: pointer;
}

.footer .container .footer-right .manage-preferences {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.footer .container .footer-right .manage-preferences p:hover {
    cursor: pointer;
}

/*************************** boxes end ***************************/


/*************************** media queries ***************************/
@media (max-width: 768px) {
    /* everything inside is applied only if the screen is < 768px */
    .header .container {
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }

    .navbar .container .search input {
        display: none;
    }

    .navbar .search .search-button {
        width: 40px;
        height: 100%;
        background: #fff;
        text-align: center;
        border: none;
        color: #0082e6;
        cursor: pointer;
        font-size: 75%;
        justify-self: center;
    }
}

@media (max-width: 1300px) {
    .navbar .container .nav li a {
        display: none;
    }
}

@media (max-width: 600px) {
    .boxes .container .box {
        padding: 10px 5px;
    }
}

@media (max-width: 800px) {
    .footer {
        height: 150px;
        overflow: scroll;
    }

    .footer .container {
        flex-direction: column;
    }

    .footer .container .footer-right {
        padding-top: 20px;
        padding-bottom: 15px;
    }
}

@media (max-width: 1000px) {
    .header, .aux {
        display: none;
    }

    .boxes .container .box .content {
        display: none;
    }

    .boxes .container {
        justify-content: space-around;
    }

    .main .container .dropdown .dropdown-item .text {
        display: none;
    }

    .main .container .dropdown .dropdown-item {
        justify-content: center;
    }

    .main .container .dropdown {
        display: none;
    }

    .main .container .big-picture {
        width: 100%;
    }

    .header .container .emag-help {
        display: none;
    }
}

/*************************** media queries end ***************************/